# Use root/example as user/password credentials

services:
  db:
    image: mysql:8.0
    restart: always
    ports:
      - "3307:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: benji
      MYSQL_PASSWORD: root_benji
      MYSQL_DATABASE: todo
